.about {
    padding: 20px;
    color: #ffffff;
    border-radius: 8px;

    max-width: 600px;
    width: 100%;
    text-align: left;
}

.about p {
    margin-bottom: 10px;
    text-align: left;
    font-size: 0.95rem;
}