.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 20px;
    border: 4px solid #444;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

.project-details {
    width: 100%;
}

.project-image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-image {
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 4px;
}

.project-link {
    margin-top: 10px;
    color: #BB86FC
}

h1 {
    color: #9d53f7;
    font-size: 1.8rem;
}

h2 {
    color: #9d53f7;
    text-align: left;
    font-size: 1.4rem;
}

h3 {
    color: #9d53f7;
    text-align: left;
    font-size: 1.1rem;
}

.project-subtitle {
    color: #A18ACD;
    font-size: 1rem;
}

a {
    color: #BB86FC;
}

a:hover {
    color: #64D8FF;
}

.project {
    border: 4px solid #530459;
}

.project-subtitle {
    color: #A18ACD;
}

.project-list {
    list-style-type: square;
    padding-left: 20px;
    margin-left: 0;
    font-size: 0.95rem;
}

.project-dotpoint {
    text-align: left;
    margin-bottom: 6px;

}

.project-tech {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    gap: 12px;
    margin-top: 10px;

}

.project-tech img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    background-color: #63496b;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 4px;
    border-radius: 6px;
}

.project:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    background-color: #3b1b4f;
}