header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}


#projects {
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px;
    background-color: #f9f9f9;
}


#projects h3 {
    font-size: 24px;
    margin-top: 10px;
}

#projects p {
    margin: 10px 0;
}


#table-of-contents {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

#table-of-contents h3 {
    font-size: 20px;
}

#table-of-contents ul {
    list-style: none;
    padding: 0;
}

#table-of-contents li {
    margin: 5px 0;
}


#contact {
    margin-top: 20px;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}